
 /* breckpoint small */
@media screen and (min-width:576px){
    nav{
        min-width: 160px;
    }

    .topbar{
        max-width: calc(100% - 160px);
        }

    .box-img{
        margin: 5px;
    }
    /*? Nav  */
    #playlist-nav .content p{
        padding-left: 5px;
        padding-top: 10px;
    }
    #playlist-nav ul{
        font-size: smaller;
        padding-top: 10px;
    }

    #playlist-nav ul li{
        list-style-type: none;
        padding-top: 10px;
    }

    #home p .s-invisible{
        display: block;
    }

    #playlist-nav .xs-hidden{
        visibility: visible;
    }
    .box-nav-logo-lg{
        background-image: url('../img/logo.svg');
        max-width: 100%;
    }
    
    .box-nav{
        margin: 6px 10px;
    }
    #bottom-nav .xs-invisible,
    #top-nav .xs-invisible{
       visibility: visible;
       font-size: small;
       padding-top: 8px;
       padding-left: 0;
       padding-right: 0;
       text-transform: capitalize;
         }

    
    #bottom-nav .content:first-child{
        border-bottom: .5px solid #666;
     }
    
     #bottom-nav  #download{
       max-width: 11%;
        height: 12px;
     }

    #bottom-nav .content:last-child{
        padding-top: 18px;
    }
    #bottom-nav .content:last-child a{
        color: #fff;
        font-weight: bold;
        font-size: 14px;
    }
    #home{
       background-image: url('../img/home.svg');
    }
    #search{
        background-image: url('../img/search.svg');
    }
    #library{
        background-image: url('../img/libreria.svg');
    }
    #download{
        background-image: url('../img/download.svg');
    }
    #user{
        background-image: url('../img/profile.svg');
    }
    
    
    .box-nav-logo-s{
        background-image: none;
        visibility: hidden;
    }
    .box-nav{
        max-width: 15%;
        margin-bottom: 10px;
    }

    nav img{
        display: none;
    }

    /*? Footer */
    #footer-center [class *='fas fa-']{
        font-size: 0.875em;
    }

    #sound-line{
    min-width: 60px;
    margin-right: 5px;
    }
    #time-line{
        min-width:126px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
 
 }
