 /*! Utils */
body{
    position: relative;
    font-family: sans-serif;
}


nav{
    background-color: #000;
    width: 50px;
    height: calc(100vh - 100px);
    position: fixed;
    top:0;
    left: 0;
  
}

footer{
    background-color:#272827;
    height: 100px;
}

img{
    width:100%;
}

.d-flex{
    display: flex;
}

.d-flex-wrap{
    display: flex;
    flex-wrap:wrap;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.inline{
    display: inline-block;
}
.center{
    justify-content: center;
    align-items: center;
}
.between{
    justify-content: space-between;
    align-items: center;
}

.last-baseline{
    justify-content: center;
    align-items: last baseline;
}

.baseline{
    justify-content: center;
    align-items: baseline;
}
.start-center{
    justify-content: flex-start;
    align-items: center;
}

/*? Nav */
#top-nav{
    width: 100%;
    height: 30%;
    background-color: teal;
    padding: 5px ;
}

#playlist-nav{
    width: 100%;
    height: 40%;
    background-color: orange;
}

#bottom-nav{
    width: 100%;
    height: 30%;
    background-color: paleturquoise;
}


#box-nav-logo{
    width:90%;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/logo-small.svg');
    margin:3px;
}

.box-nav{
    width: 50%;
    height: 20px;
    margin: 3% 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*? Topbar */
.topbar{
    height: 70px;
    background-color: rgba(0, 0, 0,0.4);
    position: fixed;
    top:0;
    right:0;
    width: calc(100% - 50px);
    line-height: 70px;
}

.container-small{ 
    width:30%;
    margin: 0 auto;
}

.wrapper{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #131822;
    overflow-y:auto;
}

.row{
    min-height: 100px;
    display: flex;
}

.icon-box{
    padding: 4px 0;
    width: 100%;
    height: 50%;
    /* background-color: chartreuse; */
}

.icon-box-inline{
    width:100%;
    height: 50%;
    padding: 4px 0;
    display: inline;
}
/*? Footer */

.box-img{
    height: 80%;
    width: 40%;
    background-image: url('../img/sinister.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 3px;
}

.control-icon{
    width:50%;
    height: 50%;
}

.time-line-control,
.control-icon-player{
    width: max-content;
    height: 50%;
    /* background-color: chartreuse; */
}

#time-line{
   display: inline-block;
   height: 3px;
   width: 75px;
    background-color: #666;
    border-radius: 3px;
}

#sound-line{
    display: inline-block;
    height: 3px;
    width: 30px;
     background-color: #666;
     border-radius: 3px;
     margin-bottom: 3px;
 }
/*! Fonts  & Margins*/
.light-margin-lr{
    margin: 0 5px;
}
.light-padding-top{
    padding: 0 5px;
}

.time-line-control span,
#footer-left p{
    font-size: x-small;
    color:#666;
}
/*! link & btn*/
a{
    text-decoration: none;
    color: #666;
}
#top-nav a,
#footer-right a,
#footer-center a{
    color:#fff;
}

.btn{
    margin: 20px 10px;
    font-size: x-small;
    text-transform: uppercase;

}

.btn.btn-black{
    background-color: transparent;
    border-radius: 20px;
    border:0.5px solid #fff;
    color:#fff;
}

.btn.btn-large{
    padding: 7px 10px;
}


/*! Colors */
.gray-text{
    color:#666;
}
.white-text{
    color:#fff;
}

/*! My Color Stub */
[class*='col-']{
     /* background-color: yellow;  */

}

[class*='col-'] [class*='col-'] {
    /* background-color: pink; */
  
}

/* ! Background img */
#home{
    background-image: url('../img/home.svg');
}
#search{
    background-image: url('../img/search.svg');
}
#library{
    background-image: url('../img/libreria.svg');
}

