 /*! Utils */
body{
    position: relative;
   
}
main{  
    overflow-y:auto;
   background-color: #131822;
}

nav{
    background-color: #000;
    width: 100px;
    height: calc(100% - 100px);
    position: fixed;
    top:0;
    left: 0;
  
}

footer{
    background-color:#272827;
    height: 100px;
}

.topbar{
    height: 15vh;
    background-color: rgba(0, 0, 0,0.4);
    position: fixed;
    top:0;
    right:0;
    width: calc(100% - 20px);
}

.container-small{
    width:30%;
    margin: 0 auto;
}

.wrapper{
    height: calc(100vh - 100px);
    width: 100%;
}


