body{
    background-color: #131822;
    position:relative;
}

nav{
    background-color: #000;
    width: 15%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
}

.topbar{
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.container-small{
    width:50%;
    margin: 0 auto;
}

main{
    height: calc(100vh - 30vh);
    overflow-y: scroll;
}

footer{
    background-color: #000;
    height: 20vh;
    width: 100%;
}